.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  &__frame {
    height: 200px;
    box-shadow: 10px 5px 5px #00000019;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      background: red;
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }
}

@media (max-width: 700px) {
  .brands {
    gap: 30px;
    &__frame {
      height: 150px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
@media (max-width: 500px) {
  .brands {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    &__frame {
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
