.not__found {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-items: start;
  img {
    margin: 0 auto;
    width: 40%;
    height: 100%;
  }
  a {
    padding: 10px;
    background: black;
    color: #fff;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
  }
}
